
<div class=" container">
    <div class="flex">
    <img
      style="width: 250px; height: 250px"
      src="http://localhost/{{ details.image }}"
      alt="img"
    />
  <div>
  <table>
    <tr>
      <td>Name of Product</td>
      <td>{{ details.Food }}</td>
    </tr>
    <tr>
      <td>Measure</td>
      <td>{{ details.Measure }}</td>
    </tr>
    <tr>
      <td>Grams Quantity</td>
      <td>{{ details.Grams }} g</td>
    </tr>
    <tr>
      <td>Calories</td>
      <td>{{ details.Calories }} cal or kcal</td>
    </tr>
    <tr>
      <td>Protien</td>
      <td>{{ details.Protein }} g</td>
    </tr>
    <tr>
      <td>Fat</td>
      <td>{{ details.Fat }} g</td>
    </tr>
    <tr>
      <td>Fiber</td>
      <td>{{ details.Fiber }} g</td>
    </tr>
    <tr>
      <td>Carbs</td>
      <td>{{ details.Carbs }} g</td>
    </tr>
  </table>
    </div>
  </div>
</div>