
  .example-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .example-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
  }
  
  .example-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #f5f5f5;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: move;
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  input[type="number"] {
    width: 80px;
    margin: 5px;
  }
  
  button {
    margin: 10px;
  }
  
  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: antiquewhite;
  }
  .container{
    background-color: rgb(205, 228, 220);
  }
  .final {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    overflow: hidden; 
  }
  
  .final img {
    display: block; 
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center
  }