<div class="container">
    <div cdkDropListGroup>
      <div class="example-container">
        <h2>Available items</h2>
        <div cdkDropList [cdkDropListData]="products" class="example-list" cdkDropListSortingDisabled (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of products" cdkDrag>{{ item.Food }}   <img src='http://localhost/{{item.image}}' class= "final"></div>
        </div>
      </div>
      <div class="example-container">
        <h2>Create Diet</h2>
        <div cdkDropList [cdkDropListData]="basket" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of basket" cdkDrag>
            <div class="item-details">
              <div>{{ item.Food }}</div>
              <div>
                Quantity: <input type="number" [(ngModel)]="item.quantity" min="1" placeholder="Quantity.."></div>
            </div>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="calculateNutrition()">Calculate Nutrition</button>
        <div *ngIf="basket.length > 0" class="result">
          <h2>Nutrition Information</h2>
          <p>Total Calories: {{ totalCalories }}</p>
          <p>Total Fat: {{ totalFat }}g</p>
          <p>Total Protein: {{ totalProtein }}g</p>
          <p>Total Carbs: {{ totalCarbs }}g</p>
        </div>
      </div>
    </div>
</div>