


<div class="container">
<div class="flex">
    <div class="img-card">
        <img
      style="width: 300px; height: 300px"
      src="http://localhost/{{ details1.image }}"
      alt="img"/>
    </div>
    <div class="details">
      <h3 >Advantages of {{ details1.category }} </h3>
      <p>
        Benefits: {{ details1.benefits }}
        <br />
      </p>
      <mat-divider></mat-divider>
      <h3>Daily Meal plan for {{ details1.category }} </h3>
  <p class="details">
    BreakFast : {{ details1.breakfast }}
    <br>
    Snacks : {{ details1.Snacks}}
    <br>
    Lunch: {{ details1.Lunch }}
    <br>
    Evening-snacks : {{ details1.Snac}}
    <br>    
    Dinner : {{ details1.dinner }}
    <br>
<mat-divider></mat-divider>
  Calories: {{ details1.calorie}}
  <br>
  Percentage : {{ details1.percent}}
</p>
    </div>
  </div>
</div>

  
  
