<div class="container">
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group margin-t10">
        <label>Food</label>
        <input type="text" name="Food" class="form-control" [(ngModel)]="model.Food" #Food="ngModel" required>
    </div>

    <div class="form-group margin-t10">
        <label>Measure</label>
        <input type="text" class="form-control" name="Measure" [(ngModel)]="model.Measure" #Measure="ngModel" required>
    </div>
  
    <div class="form-group margin-t10">
        <label>Grams</label>
        <input type="text" name="Grams" class="form-control" [(ngModel)]="model.Grams" #Grams="ngModel" required>
    </div>
  
    <div class="form-group margin-t10">
      <label>Calories</label>
      <input type="text" name="Calories" class="form-control" [(ngModel)]="model.Calories" #Calories="ngModel" required>
    </div>
  
    <div class="form-group margin-t10">
      <label>Protein</label>
      <input type="text" name="Protein" class="form-control" [(ngModel)]="model.Protein" #Protein="ngModel" required>
    </div>
  
    <div class="form-group margin-t10">
      <label>Fat</label>
      <input type="text" name="Fat" class="form-control" [(ngModel)]="model.Fat" #Fat="ngModel" required>
    </div>
  
  
    <div class="form-group margin-t10">
      <label>Sat_Fat</label>
      <input type="text" name="Sat_Fat" class="form-control" [(ngModel)]="model.Sat_Fat" #Sat_Fat="ngModel" required>
    </div>
  
    <div class="form-group margin-t10">
      <label>Fiber</label>
      <input type="text" name="Fiber" class="form-control" [(ngModel)]="model.Fiber" #Fiber="ngModel" required>
    </div>
  
    <div class="form-group margin-t10">
      <label>Carbs</label>
      <input type="text" name="Carbs" class="form-control" [(ngModel)]="model.Carbs" #Carbs="ngModel" required>
    </div>
  
    <div class="form-group margin-t10">
      <label> Category</label>
      <select [(ngModel)]="model.Category" #Category="ngModel" required>
      <option *ngFor="let x of categories">{{x}}</option>
      </select>
    </div>

    <div class="form-group margin-t10">
      <label> image</label>
      <input type="text" name="Category" class="form-control" [(ngModel)]="model.image" #Category="ngModel" required >
    </div>

  
    <div class="form-group margin-t10">
        <button class="btn btn-danger btn-block" [disabled]="!userForm.form.valid">Submit</button>
    </div>
  </form>
</div>